body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #002368;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.nav-links a:hover {
    color: orange;
}

.container {
    padding: 40px;
}
